<div id="page" class="page">
    <section class="padding-110px-tb xs-padding-60px-tb bg-dark-blue builder-bg border-none" id="title-section2" style="padding-left: 0px; padding-right: 0px; border-color: rgb(112, 112, 112); background-color: rgb(16, 16, 16) !important; padding-top: 250px !important; padding-bottom: 250px !important;">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 col-sm-12 col-xs-12 text-align">
                    <h2 class="section-title-large sm-section-title-medium text-white alt-font margin-five-bottom xs-margin-fifteen-bottom tz-text" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0); font-weight: 500; text-transform: none; border-radius: 0px; font-size: 45px !important; font-family: &quot;Segoe Pro&quot; !important;" id="title">Cargando...</h2>
                    <a><span class="tz-text" id="creationdate">Cargando...</span></a>
                    <div class="text-blue-gray text-medium width-60 margin-lr-auto md-width-70 sm-width-100 tz-text" id="desc" style="background-color: rgba(0, 0, 0, 0); font-weight: 400; text-transform: none; text-align: left; border-radius: 0px; color: rgb(255, 255, 255) !important; font-size: 20px !important; font-family: &quot;Segoe Pro&quot; !important;">Cargando...</div>
                    <h2 class="section-title-large sm-section-title-medium text-white alt-font margin-five-bottom xs-margin-fifteen-bottom tz-text" id="ui-id-48" style="background-color: rgba(0, 0, 0, 0); font-weight: 400; text-transform: none; border-radius: 0px; color: rgb(255, 255, 255) !important; font-size: 40px !important; font-family: &quot;Segoe Pro&quot; !important; margin-top: 150px">Descargar para Windows</h2>
                    <a class="btn btn-large xs-btn-small bg-white text-dark-gray propClone no-margin-tb xs-margin-five-bottom" href="magirenko_music_x86.rar" id="tz-slider-lnk1" style="color:rgb(40, 40, 40);background-color:rgb(255, 255, 255);border-color:rgba(0, 0, 0, 0);font-size:13px;font-weight:500;font-family:Segoe Pro !important;text-transform:none;border-radius:4px;"><span class="tz-text" id="tz-slider-btn-text3">Descargar rar</span><i class="fa icon-extra-small tz-icon-color fa-angle-right" id="tz-icon-4"></i></a>
                    <a class="btn btn-large xs-btn-small bg-white text-dark-gray propClone no-margin-tb xs-margin-five-bottom" href="magirenko_music_x86.7z" id="tz-slider-lnk1" style="color:rgb(40, 40, 40);background-color:rgb(255, 255, 255);border-color:rgba(0, 0, 0, 0);font-size:13px;font-weight:500;font-family:Segoe Pro !important;text-transform:none;border-radius:4px;"><span class="tz-text" id="tz-slider-btn-text3">Descargar 7z</span><i class="fa icon-extra-small tz-icon-color fa-angle-right" id="tz-icon-4"></i></a>
                </div>
                <!-- end section title -->
            </div>                    
        </div>
    </section>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.appear.js"></script>
<script type="text/javascript" src="/js/smooth-scroll.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- wow animation -->
<script type="text/javascript" src="/js/wow.min.js"></script>
<!-- owl carousel -->
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>        
<!-- images loaded -->
<script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope -->
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script> 
<!-- magnific popup -->
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<!-- navigation -->
<script type="text/javascript" src="/js/jquery.nav.js"></script>
<!-- equalize -->
<script type="text/javascript" src="/js/equalize.min.js"></script>
<!-- fit videos -->
<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<!-- number counter -->
<script type="text/javascript" src="/js/jquery.countTo.js"></script>
<!-- time counter  -->
<script type="text/javascript" src="/js/counter.js"></script>
<!-- twitter Fetcher  -->
<script type="text/javascript" src="/js/twitterFetcher_min.js"></script>
<!-- main -->
<script type="text/javascript" src="/js/main.js"></script>